<div align="left" style="font-family:arial; line-height: 4em">
  <span *ngFor="let char of typingText.characters; let charIndex = index"
    [ngStyle]="{ 'font-size': '28px'
                , 'color': 'grey'
                , 'text-decoration': charIndex === typingText.currectTypingIndex ? 'underline' : null 
                , 'background-color': getBackgroundColor(char.isTyped, char.TypeCorrect) }"
    (keypress)="typeKey($event)" tabindex="0" #typingArea>
    {{char.displayedCh}}
  </span>
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item">Duration: {{this.typingTime / 1000 | number: '1.2-2'}} seconds</li>
    <li class="list-group-item">Accuracy: {{accuracy | percent: '1.2-2'}}</li>
    <li class="list-group-item">Speed (WPM): {{wpm | number: '1.2-2'}}</li>
    <li class="list-group-item">Total Errors: {{typeErrorCount}}</li>
  </ul>
</div>
