<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-text-modal-xl" (click)="loadEmptyPracticeText()">Add New</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add-text-modal-xl" (click)="loadSelectedPracticeText()">Update Selected</button>
<div>
  <label class="form-check-label" for="bestPracticeTextOnly">Best practice texts only</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="checkbox" class="form-check-input" id="bestPracticeTextOnly" (change)="toogleBestPracticeText()">
</div>
<div class="modal fade add-text-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-text-label">Add New Practice Text</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="practiceTextForm">
          <div class="form-group">
            <label for="title" class="col-form-label">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title" (change)="updateTitle($event)">
          </div>
          <div class="form-group">
            <label for="text" class="col-form-label">Text</label>
            <textarea class="form-control" id="text" formControlName="text" (change)="updateText($event)"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
<br><br>

<div class="container">
  <angular-slickgrid gridId="grid1"
            [columnDefinitions]="columnDefinitions"
            [gridOptions]="gridOptions"
            [dataset]="practiceTextList"
            (sgOnSelectedRowsChanged)="onSelectedRowsChanged($event.detail.eventData, $event.detail.args)">
  </angular-slickgrid>
</div>
